<!-- <style>
    a{
        text-decoration: none;
    }
    a:hover{
        color:hotpink;
    }
</style> -->

<footer>
    <p>Made with <span>&hearts;</span> by 
        <a href="https://github.com/shawpujaa/TF-IDF_based_Search_Engine" target="_blank">shawpujaa</a></p>
</footer>
  